@import '../../../assets/styles/variables';

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 6px;
    }
}